@{
    ViewData["Title"] = "О сайте";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<br />
<p>Данный портал был создан для помощи пользователям в хранении и обмене изображениями.</p>
<p>Рады видеть Вас на нашем сайте!</p>

