@{
    ViewData["Title"] = "Contact";
}
<h2>Контакты</h2>
<h4>Вы всегда можете с нами связаться:</h4>
<br />

<h5>Наш адрес:</h5>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<br />
<br />
<h5>Присылайте свои письма сюда:</h5>
<address>
    <strong>Поддержка:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
