
@model IEnumerable<StorageService.Data.Models.Image>
@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Результаты поиска";
}



@if (Model != null && Model.Count()>0)
{
    
        var colCount = 3;
        var len = Model.Count();
        var rowCount = Math.Ceiling((double)len / colCount);
        int i = 0;
        //у нас 3 столбца, количество строк посчитать, выводить пока изображения не закончатся по три
    
    <div class="container" style="margin-top:20px">
        @for (int k = 0; k < rowCount && i < len; k++)
        {
            <div class="card-columns">
                @for (int j = 0; j < colCount && i < len; j++, i++)
                {
                    string reff = Model.ElementAt(i).Path.Remove(0, 2);
                    <div>
                        <div class="card">
                            <a href="/@reff">
                                <img class="card-img-top" style="height:330px; display:block;" src=@Model.ElementAt(i).Path asp-append-version="true" alt="">
                            </a>
                            <div class="card-body text-center">
                                <h4 class="card-title text-center">@Model.ElementAt(i).Tags</h4>
                                @Html.ActionLink("Скачать", "DownloadImage", "Images", new { id = Model.ElementAt(i).Id, path = Model.ElementAt(i).Path }, null)

                            </div>
                        </div>
                    </div>
                }

            </div>
        }
    </div>
}
else
{
    <text>Изображений по данному тегу не найдено</text>
}